.header {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }

  img.logo {
    max-height: 32px;
  }

  .title-group {
    margin-left: 25px;

    i {
      margin-right: 5px;
    }
  }
}
