<mat-card>
  <mat-card-title>Atualizar Produto</mat-card-title>
  <form class="app-form">
      <mat-form-field>
          <input
            name="name"
            placeholder="Nome"
            matInput
            [(ngModel)]="product.name"
          />
      </mat-form-field>
      <mat-form-field>
        <input
            name="price"
            placeholder="Preço (R$)"
            matInput
            [(ngModel)]="product.price"
          />
      </mat-form-field>
      <div>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="updateProduct()">
          Atualizar
        </button>
        <button
          type="button"
          mat-raised-button
          (click)="cancel()">
          Cancelar
        </button>
      </div>
  </form>
</mat-card>

