<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item *ngFor="let navItem of navItems" routerLink="{{ navItem.routerUrl }}">
        <i class="material-icons">{{ navItem.icon }}</i>
        {{ navItem.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>